schemas/html5/embed.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" >
  <!-- ##################################################################### -->
  <define name="img.elem">
    <a:documentation> RELAX NG Schema for HTML 5: Embedded Content                      #</a:documentation>
    <!-- ##################################################################### -->
    <a:documentation>
Replaced Content</a:documentation>
    <a:documentation>Images: &lt;img&gt;</a:documentation>
    <element name="img">
      <interleave>
        <ref name="img.inner"/>
        <ref name="img.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="img.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <ref name="img.attrs.src"/>
      <optional>
        <ref name="img.attrs.alt"/>
      </optional>
      <optional>
        <ref name="img.attrs.height"/>
      </optional>
      <optional>
        <ref name="img.attrs.width"/>
      </optional>
      <optional>
        <ref name="img.attrs.usemap"/>
      </optional>
      <optional>
        <ref name="img.attrs.ismap"/>
      </optional>
      <optional>
        <ref name="img.attrs.border"/>
      </optional>
      <optional>
        <!-- obsolete -->
        <ref name="common.attrs.aria"/>
      </optional>
    </interleave>
  </define>
  <define name="img.attrs.src">
    <attribute name="src">
      <ref name="common.data.uri.non-empty"/>
    </attribute>
  </define>
  <define name="img.attrs.alt">
    <attribute name="alt"/>
  </define>
  <define name="img.attrs.height">
    <attribute name="height">
      <ref name="common.data.integer.non-negative"/>
    </attribute>
  </define>
  <define name="img.attrs.width">
    <attribute name="width">
      <ref name="common.data.integer.non-negative"/>
    </attribute>
  </define>
  <define name="img.attrs.usemap">
    <attribute name="usemap">
      <ref name="common.data.hash-name"/>
    </attribute>
  </define>
  <define name="img.attrs.ismap">
    <attribute name="ismap">
      <choice>
        <value type="string">ismap</value>
        <value type="string"/>
      </choice>
    </attribute>
  </define>
  <define name="img.attrs.border">
    <attribute name="border">
      <ref name="common.data.zero"/>
    </attribute>
  </define>
  <define name="img.inner">
    <empty/>
  </define>
  <define name="common.elem.phrasing" combine="choice">
    <ref name="img.elem"/>
  </define>
  <define name="embed.elem">
    <a:documentation>Plug-ins: &lt;embed&gt;</a:documentation>
    <element name="embed">
      <interleave>
        <ref name="embed.inner"/>
        <ref name="embed.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="embed.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="embed.attrs.src"/>
      </optional>
      <optional>
        <ref name="embed.attrs.type"/>
      </optional>
      <optional>
        <ref name="embed.attrs.height"/>
      </optional>
      <optional>
        <ref name="embed.attrs.width"/>
      </optional>
      <zeroOrMore>
        <ref name="embed.attrs.other"/>
      </zeroOrMore>
    </interleave>
  </define>
  <define name="embed.attrs.src">
    <attribute name="src">
      <ref name="common.data.uri.non-empty"/>
    </attribute>
  </define>
  <define name="embed.attrs.type">
    <attribute name="type">
      <ref name="common.data.mimetype"/>
    </attribute>
  </define>
  <define name="embed.attrs.height">
    <attribute name="height">
      <ref name="common.data.integer.non-negative"/>
    </attribute>
  </define>
  <define name="embed.attrs.width">
    <attribute name="width">
      <ref name="common.data.integer.non-negative"/>
    </attribute>
  </define>
  <define name="embed.attrs.other">
    <!-- REVISIT common.attrs -->
    <attribute>
      <nsName ns="">
        <except>
          <name ns="">src</name>
          <name ns="">type</name>
          <name ns="">height</name>
          <name ns="">width</name>
          <name ns="">id</name>
          <name ns="">class</name>
          <name ns="">title</name>
          <name ns="">dir</name>
          <name ns="">lang</name>
          <name ns="">translate</name>
          <name ns="">style</name>
          <name ns="">tabindex</name>
          <name ns="">contextmenu</name>
          <name ns="">contenteditable</name>
          <name ns="">draggable</name>
          <name ns="">dropzone</name>
          <name ns="">hidden</name>
          <name ns="">onabort</name>
          <name ns="">onblur</name>
          <name ns="">oncanplay</name>
          <name ns="">oncanplaythrough</name>
          <name ns="">onchange</name>
          <name ns="">onclick</name>
          <name ns="">oncontextmenu</name>
          <name ns="">ondblclick</name>
          <name ns="">ondrag</name>
          <name ns="">ondragend</name>
          <name ns="">ondragenter</name>
          <name ns="">ondragleave</name>
          <name ns="">ondragover</name>
          <name ns="">ondragstart</name>
          <name ns="">ondrop</name>
          <name ns="">ondurationchange</name>
          <name ns="">onemptied</name>
          <name ns="">onended</name>
          <name ns="">onerror</name>
          <name ns="">onfocus</name>
          <name ns="">oninput</name>
          <name ns="">oninvalid</name>
          <name ns="">onkeydown</name>
          <name ns="">onkeypress</name>
          <name ns="">onkeyup</name>
          <name ns="">onload</name>
          <name ns="">onloadeddata</name>
          <name ns="">onloadedmetadata</name>
          <name ns="">onloadstart</name>
          <name ns="">onmousedown</name>
          <name ns="">onmousemove</name>
          <name ns="">onmouseout</name>
          <name ns="">onmouseover</name>
          <name ns="">onmouseup</name>
          <name ns="">onmousewheel</name>
          <name ns="">onpause</name>
          <name ns="">onplay</name>
          <name ns="">onplaying</name>
          <name ns="">onprogress</name>
          <name ns="">onratechange</name>
          <name ns="">onreset</name>
          <name ns="">onscroll</name>
          <name ns="">onseeked</name>
          <name ns="">onseeking</name>
          <name ns="">onselect</name>
          <name ns="">onshow</name>
          <name ns="">onstalled</name>
          <name ns="">onsubmit</name>
          <name ns="">onsuspend</name>
          <name ns="">ontimeupdate</name>
          <name ns="">onvolumechange</name>
          <name ns="">onwaiting</name>
          <name ns="">onafterprint</name>
          <name ns="">onbeforeprint</name>
          <name ns="">onbeforeunload</name>
          <name ns="">onhashchange</name>
          <name ns="">onmessage</name>
          <name ns="">onoffline</name>
          <name ns="">ononline</name>
          <name ns="">onpopstate</name>
          <name ns="">onredo</name>
          <name ns="">onresize</name>
          <name ns="">onstorage</name>
          <name ns="">onundo</name>
          <name ns="">onunload</name>
          <name ns="">role</name>
          <name ns="">aria-atomic</name>
          <name ns="">aria-busy</name>
          <name ns="">aria-controls</name>
          <name ns="">aria-describedby</name>
          <name ns="">aria-disabled</name>
          <name ns="">aria-dropeffect</name>
          <name ns="">aria-flowto</name>
          <name ns="">aria-grabbed</name>
          <name ns="">aria-haspopup</name>
          <name ns="">aria-hidden</name>
          <name ns="">aria-invalid</name>
          <name ns="">aria-label</name>
          <name ns="">aria-labelledby</name>
          <name ns="">aria-live</name>
          <name ns="">aria-owns</name>
          <name ns="">aria-relevant</name>
          <name ns="">aria-required</name>
          <name ns="">spellcheck</name>
          <name ns="">accesskey</name>
          <name ns="">itemref</name>
          <name ns="">itemprop</name>
          <name ns="">itemscope</name>
          <name ns="">itemtype</name>
          <name ns="">itemid</name>
          <name ns="">name</name>
          <name ns="">align</name>
          <name ns="">about</name>
          <name ns="">prefix</name>
          <name ns="">property</name>
          <name ns="">typeof</name>
          <name ns="">vocab</name>
          <name ns="">content</name>
          <name ns="">datatype</name>
          <name ns="">href</name>
          <name ns="">rel</name>
          <name ns="">resource</name>
          <name ns="">rev</name>
          <name ns="">inlist</name>
          <name ns="">its-loc-note</name>
          <name ns="">its-loc-note-type</name>
          <name ns="">its-loc-note-ref</name>
          <name ns="">its-term-info-ref</name>
          <name ns="">its-term</name>
          <name ns="">its-term-confidence</name>
          <name ns="">its-within-text</name>
          <name ns="">its-domain-mapping</name>
          <name ns="">its-disambig-granularity</name>
          <name ns="">its-disambig-confidence</name>
          <name ns="">its-disambig-class-ref</name>
          <name ns="">its-disambig-ident</name>
          <name ns="">its-disambig-ident-ref</name>
          <name ns="">its-disambig-source</name>
          <name ns="">its-locale-filter-list</name>
          <name ns="">its-person</name>
          <name ns="">its-person-ref</name>
          <name ns="">its-org</name>
          <name ns="">its-org-ref</name>
          <name ns="">its-tool</name>
          <name ns="">its-tool-ref</name>
          <name ns="">its-rev-person</name>
          <name ns="">its-rev-person-ref</name>
          <name ns="">its-rev-org</name>
          <name ns="">its-rev-org-ref</name>
          <name ns="">its-rev-tool</name>
          <name ns="">its-rev-tool-ref</name>
          <name ns="">its-prov-ref</name>
          <name ns="">its-provenance-records-ref</name>
          <name ns="">its-loc-quality-issues-ref</name>
          <name ns="">its-loc-quality-issue-type</name>
          <name ns="">its-loc-quality-issue-comment</name>
          <name ns="">its-loc-quality-issue-severity</name>
          <name ns="">its-loc-quality-issue-profile-ref</name>
          <name ns="">its-loc-quality-issue-enabled</name>
          <name ns="">its-loc-quality-rating-score</name>
          <name ns="">its-loc-quality-rating-vote</name>
          <name ns="">its-loc-quality-rating-score-threshold</name>
          <name ns="">its-loc-quality-rating-vote-threshold</name>
          <name ns="">its-loc-quality-rating-profile-ref</name>
          <name ns="">its-mt-confidence</name>
          <name ns="">its-allowed-characters</name>
          <name ns="">its-storage-size</name>
          <name ns="">its-storage-encoding</name>
          <name ns="">its-line-break-type</name>
          <name ns="">its-annotators-ref</name>
        </except>
      </nsName>
      <data type="string" datatypeLibrary=""/>
    </attribute>
  </define>
  <define name="embed.inner">
    <empty/>
  </define>
  <define name="common.elem.phrasing" combine="choice">
    <ref name="embed.elem"/>
  </define>
  <define name="object.elem.flow">
    <a:documentation>Generic Objects: &lt;object&gt;</a:documentation>
    <element name="object">
      <interleave>
        <ref name="object.inner.flow"/>
        <ref name="object.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="object.elem.phrasing">
    <element name="object">
      <interleave>
        <ref name="object.inner.phrasing"/>
        <ref name="object.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="object.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <choice>
        <interleave>
          <ref name="object.attrs.data"/>
          <optional>
            <ref name="object.attrs.type"/>
          </optional>
        </interleave>
        <ref name="object.attrs.type"/>
      </choice>
      <optional>
        <!--
          		&	object.attrs.classid?
          		&	object.attrs.codebase?
          		&	object.attrs.codetype?
        -->
        <ref name="object.attrs.height"/>
      </optional>
      <optional>
        <ref name="object.attrs.width"/>
      </optional>
      <optional>
        <ref name="object.attrs.usemap"/>
      </optional>
      <optional>
        <ref name="object.attrs.name"/>
      </optional>
      <optional>
        <ref name="common-form.attrs.form"/>
      </optional>
      <optional>
        <ref name="common.attrs.aria"/>
      </optional>
    </interleave>
  </define>
  <define name="object.attrs.data">
    <attribute name="data">
      <ref name="common.data.uri.non-empty"/>
    </attribute>
  </define>
  <define name="object.attrs.type">
    <attribute name="type">
      <ref name="common.data.mimetype"/>
    </attribute>
  </define>
  <define name="object.attrs.height">
    <attribute name="height">
      <ref name="common.data.integer.non-negative"/>
    </attribute>
  </define>
  <define name="object.attrs.width">
    <attribute name="width">
      <ref name="common.data.integer.non-negative"/>
    </attribute>
  </define>
  <define name="object.attrs.usemap">
    <attribute name="usemap">
      <ref name="common.data.hash-name"/>
    </attribute>
  </define>
  <define name="object.attrs.name">
    <attribute name="name">
      <ref name="common.data.browsing-context"/>
    </attribute>
  </define>
  <define name="object.inner.flow">
    <zeroOrMore>
      <ref name="param.elem"/>
    </zeroOrMore>
    <ref name="common.inner.flow"/>
  </define>
  <define name="object.inner.phrasing">
    <zeroOrMore>
      <ref name="param.elem"/>
    </zeroOrMore>
    <ref name="common.inner.phrasing"/>
  </define>
  <define name="common.elem.flow" combine="choice">
    <ref name="object.elem.flow"/>
  </define>
  <define name="common.elem.phrasing" combine="choice">
    <ref name="object.elem.phrasing"/>
  </define>
  <define name="param.elem">
    <a:documentation>Initialization Parameters: &lt;param&gt;</a:documentation>
    <element name="param">
      <interleave>
        <ref name="param.inner"/>
        <ref name="param.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="param.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <ref name="param.attrs.name"/>
      <ref name="param.attrs.value"/>
    </interleave>
  </define>
  <define name="param.attrs.name">
    <attribute name="name">
      <data type="string" datatypeLibrary=""/>
    </attribute>
  </define>
  <define name="param.attrs.value">
    <attribute name="value">
      <data type="string" datatypeLibrary=""/>
    </attribute>
  </define>
  <define name="param.inner">
    <empty/>
  </define>
  <define name="iframe.elem">
    <a:documentation>Inline Frame: &lt;iframe&gt;</a:documentation>
    <element name="iframe">
      <interleave>
        <ref name="iframe.inner"/>
        <ref name="iframe.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="iframe.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="iframe.attrs.src"/>
      </optional>
      <optional>
        <ref name="iframe.attrs.srcdoc"/>
      </optional>
      <optional>
        <ref name="iframe.attrs.name"/>
      </optional>
      <optional>
        <ref name="iframe.attrs.width"/>
      </optional>
      <optional>
        <ref name="iframe.attrs.height"/>
      </optional>
      <optional>
        <ref name="iframe.attrs.sandbox"/>
      </optional>
      <optional>
        <ref name="iframe.attrs.seamless"/>
      </optional>
      <optional>
        <choice>
          <ref name="common.attrs.aria"/>
          <ref name="common.attrs.aria.implicit.region"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="iframe.attrs.src">
    <attribute name="src">
      <ref name="common.data.uri.non-empty"/>
    </attribute>
  </define>
  <define name="iframe.attrs.srcdoc">
    <attribute name="srcdoc">
      <data type="string" datatypeLibrary=""/>
      <!-- FIXME -->
    </attribute>
  </define>
  <define name="iframe.attrs.name">
    <attribute name="name">
      <ref name="common.data.browsing-context"/>
    </attribute>
  </define>
  <define name="iframe.attrs.height">
    <attribute name="height">
      <ref name="common.data.integer.non-negative"/>
    </attribute>
  </define>
  <define name="iframe.attrs.width">
    <attribute name="width">
      <ref name="common.data.integer.non-negative"/>
    </attribute>
  </define>
  <define name="iframe.attrs.seamless">
    <interleave>
      <attribute name="seamless">
        <choice>
          <value type="string">seamless</value>
          <value type="string"/>
        </choice>
      </attribute>
      <ref name="v5only"/>
    </interleave>
  </define>
  <define name="iframe.attrs.sandbox">
    <interleave>
      <attribute name="sandbox">
        <choice>
          <list>
            <optional>
              <value type="string">allow-top-navigation</value>
            </optional>
            <optional>
              <value type="string">allow-same-origin</value>
            </optional>
            <optional>
              <value type="string">allow-forms</value>
            </optional>
            <optional>
              <value type="string">allow-scripts</value>
            </optional>
          </list>
          <list>
            <optional>
              <value type="string">allow-top-navigation</value>
            </optional>
            <optional>
              <value type="string">allow-same-origin</value>
            </optional>
            <optional>
              <value type="string">allow-scripts</value>
            </optional>
            <optional>
              <value type="string">allow-forms</value>
            </optional>
          </list>
          <list>
            <optional>
              <value type="string">allow-top-navigation</value>
            </optional>
            <optional>
              <value type="string">allow-forms</value>
            </optional>
            <optional>
              <value type="string">allow-same-origin</value>
            </optional>
            <optional>
              <value type="string">allow-scripts</value>
            </optional>
          </list>
          <list>
            <optional>
              <value type="string">allow-top-navigation</value>
            </optional>
            <optional>
              <value type="string">allow-forms</value>
            </optional>
            <optional>
              <value type="string">allow-scripts</value>
            </optional>
            <optional>
              <value type="string">allow-same-origin</value>
            </optional>
          </list>
          <list>
            <optional>
              <value type="string">allow-top-navigation</value>
            </optional>
            <optional>
              <value type="string">allow-scripts</value>
            </optional>
            <optional>
              <value type="string">allow-same-origin</value>
            </optional>
            <optional>
              <value type="string">allow-forms</value>
            </optional>
          </list>
          <list>
            <optional>
              <value type="string">allow-top-navigation</value>
            </optional>
            <optional>
              <value type="string">allow-scripts</value>
            </optional>
            <optional>
              <value type="string">allow-forms</value>
            </optional>
            <optional>
              <value type="string">allow-same-origin</value>
            </optional>
          </list>
          <list>
            <optional>
              <value type="string">allow-same-origin</value>
            </optional>
            <optional>
              <value type="string">allow-top-navigation</value>
            </optional>
            <optional>
              <value type="string">allow-forms</value>
            </optional>
            <optional>
              <value type="string">allow-scripts</value>
            </optional>
          </list>
          <list>
            <optional>
              <value type="string">allow-same-origin</value>
            </optional>
            <optional>
              <value type="string">allow-top-navigation</value>
            </optional>
            <optional>
              <value type="string">allow-scripts</value>
            </optional>
            <optional>
              <value type="string">allow-forms</value>
            </optional>
          </list>
          <list>
            <optional>
              <value type="string">allow-forms</value>
            </optional>
            <optional>
              <value type="string">allow-top-navigation</value>
            </optional>
            <optional>
              <value type="string">allow-same-origin</value>
            </optional>
            <optional>
              <value type="string">allow-scripts</value>
            </optional>
          </list>
          <list>
            <optional>
              <value type="string">allow-forms</value>
            </optional>
            <optional>
              <value type="string">allow-top-navigation</value>
            </optional>
            <optional>
              <value type="string">allow-scripts</value>
            </optional>
            <optional>
              <value type="string">allow-same-origin</value>
            </optional>
          </list>
          <list>
            <optional>
              <value type="string">allow-scripts</value>
            </optional>
            <optional>
              <value type="string">allow-top-navigation</value>
            </optional>
            <optional>
              <value type="string">allow-same-origin</value>
            </optional>
            <optional>
              <value type="string">allow-forms</value>
            </optional>
          </list>
          <list>
            <optional>
              <value type="string">allow-scripts</value>
            </optional>
            <optional>
              <value type="string">allow-top-navigation</value>
            </optional>
            <optional>
              <value type="string">allow-forms</value>
            </optional>
            <optional>
              <value type="string">allow-same-origin</value>
            </optional>
          </list>
          <list>
            <optional>
              <value type="string">allow-same-origin</value>
            </optional>
            <optional>
              <value type="string">allow-forms</value>
            </optional>
            <optional>
              <value type="string">allow-top-navigation</value>
            </optional>
            <optional>
              <value type="string">allow-scripts</value>
            </optional>
          </list>
          <list>
            <optional>
              <value type="string">allow-same-origin</value>
            </optional>
            <optional>
              <value type="string">allow-scripts</value>
            </optional>
            <optional>
              <value type="string">allow-top-navigation</value>
            </optional>
            <optional>
              <value type="string">allow-forms</value>
            </optional>
          </list>
          <list>
            <optional>
              <value type="string">allow-forms</value>
            </optional>
            <optional>
              <value type="string">allow-same-origin</value>
            </optional>
            <optional>
              <value type="string">allow-top-navigation</value>
            </optional>
            <optional>
              <value type="string">allow-scripts</value>
            </optional>
          </list>
          <list>
            <optional>
              <value type="string">allow-forms</value>
            </optional>
            <optional>
              <value type="string">allow-scripts</value>
            </optional>
            <optional>
              <value type="string">allow-top-navigation</value>
            </optional>
            <optional>
              <value type="string">allow-same-origin</value>
            </optional>
          </list>
          <list>
            <optional>
              <value type="string">allow-scripts</value>
            </optional>
            <optional>
              <value type="string">allow-same-origin</value>
            </optional>
            <optional>
              <value type="string">allow-top-navigation</value>
            </optional>
            <optional>
              <value type="string">allow-forms</value>
            </optional>
          </list>
          <list>
            <optional>
              <value type="string">allow-scripts</value>
            </optional>
            <optional>
              <value type="string">allow-forms</value>
            </optional>
            <optional>
              <value type="string">allow-top-navigation</value>
            </optional>
            <optional>
              <value type="string">allow-same-origin</value>
            </optional>
          </list>
          <list>
            <optional>
              <value type="string">allow-same-origin</value>
            </optional>
            <optional>
              <value type="string">allow-forms</value>
            </optional>
            <optional>
              <value type="string">allow-scripts</value>
            </optional>
            <optional>
              <value type="string">allow-top-navigation</value>
            </optional>
          </list>
          <list>
            <optional>
              <value type="string">allow-same-origin</value>
            </optional>
            <optional>
              <value type="string">allow-scripts</value>
            </optional>
            <optional>
              <value type="string">allow-forms</value>
            </optional>
            <optional>
              <value type="string">allow-top-navigation</value>
            </optional>
          </list>
          <list>
            <optional>
              <value type="string">allow-forms</value>
            </optional>
            <optional>
              <value type="string">allow-same-origin</value>
            </optional>
            <optional>
              <value type="string">allow-scripts</value>
            </optional>
            <optional>
              <value type="string">allow-top-navigation</value>
            </optional>
          </list>
          <list>
            <optional>
              <value type="string">allow-forms</value>
            </optional>
            <optional>
              <value type="string">allow-scripts</value>
            </optional>
            <optional>
              <value type="string">allow-same-origin</value>
            </optional>
            <optional>
              <value type="string">allow-top-navigation</value>
            </optional>
          </list>
          <list>
            <optional>
              <value type="string">allow-scripts</value>
            </optional>
            <optional>
              <value type="string">allow-same-origin</value>
            </optional>
            <optional>
              <value type="string">allow-forms</value>
            </optional>
            <optional>
              <value type="string">allow-top-navigation</value>
            </optional>
          </list>
          <list>
            <optional>
              <value type="string">allow-scripts</value>
            </optional>
            <optional>
              <value type="string">allow-forms</value>
            </optional>
            <optional>
              <value type="string">allow-same-origin</value>
            </optional>
            <optional>
              <value type="string">allow-top-navigation</value>
            </optional>
          </list>
        </choice>
      </attribute>
      <ref name="v5only"/>
    </interleave>
  </define>
  <define name="iframe.inner">
    <text/>
  </define>
  <define name="common.elem.phrasing" combine="choice">
    <ref name="iframe.elem"/>
  </define>
  <define name="map.elem.flow">
    <a:documentation>
Image Maps</a:documentation>
    <a:documentation>Map Definition: &lt;map&gt;</a:documentation>
    <element name="map">
      <interleave>
        <ref name="map.inner.flow"/>
        <ref name="map.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="map.elem.phrasing">
    <element name="map">
      <interleave>
        <ref name="map.inner.phrasing"/>
        <ref name="map.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="map.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <ref name="map.attrs.name"/>
    </interleave>
  </define>
  <!-- REVISIT make id required in Schematron -->
  <define name="map.attrs.name">
    <attribute name="name">
      <ref name="common.data.name"/>
    </attribute>
  </define>
  <define name="map.inner.flow">
    <ref name="common.inner.flow"/>
  </define>
  <define name="map.inner.phrasing">
    <ref name="common.inner.phrasing"/>
  </define>
  <define name="common.elem.flow" combine="choice">
    <ref name="map.elem.flow"/>
  </define>
  <define name="common.elem.phrasing" combine="choice">
    <ref name="map.elem.phrasing"/>
  </define>
  <define name="area.elem">
    <a:documentation>Map Area Definition: &lt;area&gt;</a:documentation>
    <element name="area">
      <interleave>
        <ref name="area.inner"/>
        <ref name="area.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="area.attrs">
    <interleave>
      <ref name="common.attrs.basic"/>
      <ref name="common.attrs.i18n"/>
      <ref name="common.attrs.present"/>
      <ref name="common.attrs.other"/>
      <optional>
        <interleave>
          <ref name="area.attrs.alt"/>
          <ref name="shared-hyperlink.attrs.href"/>
        </interleave>
      </optional>
      <optional>
        <ref name="shared-hyperlink.attrs.target"/>
      </optional>
      <optional>
        <ref name="shared-hyperlink.attrs.ping"/>
      </optional>
      <optional>
        <ref name="shared-hyperlink.attrs.rel"/>
      </optional>
      <optional>
        <ref name="shared-hyperlink.attrs.media"/>
      </optional>
      <optional>
        <ref name="shared-hyperlink.attrs.hreflang"/>
      </optional>
      <optional>
        <ref name="shared-hyperlink.attrs.type"/>
      </optional>
      <optional>
        <ref name="area.attrs.shape"/>
      </optional>
    </interleave>
  </define>
  <define name="area.attrs.alt">
    <attribute name="alt"/>
  </define>
  <define name="area.attrs.shape">
    <choice>
      <interleave>
        <optional>
          <ref name="area.attrs.shape.rect"/>
        </optional>
        <ref name="area.attrs.coords.rect"/>
      </interleave>
      <interleave>
        <ref name="area.attrs.shape.circle"/>
        <ref name="area.attrs.coords.circle"/>
      </interleave>
      <interleave>
        <ref name="area.attrs.shape.poly"/>
        <ref name="area.attrs.coords.poly"/>
      </interleave>
      <ref name="area.attrs.shape.default"/>
    </choice>
  </define>
  <define name="area.attrs.shape.rect">
    <attribute name="shape">
      <value type="string">rect</value>
    </attribute>
  </define>
  <define name="area.attrs.coords.rect">
    <attribute name="coords">
      <data type="string" />
      <!--
        				xsd:token {
        					pattern = "-?[0-9]+,-?[0-9]+,-?[0-9]+,-?[0-9]+"
        				}
      -->
    </attribute>
  </define>
  <define name="area.attrs.shape.circle">
    <attribute name="shape">
      <value type="string">circle</value>
    </attribute>
  </define>
  <define name="area.attrs.coords.circle">
    <attribute name="coords">
      <data type="string" />
      <!--
        				xsd:token {
        					pattern = "-?[0-9]+,-?[0-9]+,[0-9]+"
        				}
      -->
    </attribute>
  </define>
  <define name="area.attrs.shape.poly">
    <attribute name="shape">
      <value type="string">poly</value>
    </attribute>
  </define>
  <define name="area.attrs.coords.poly">
    <attribute name="coords">
      <data type="string" />
      <!--
        				xsd:token {
        					pattern = "-?[0-9]+,-?[0-9]+,-?[0-9]+,-?[0-9]+,-?[0-9]+,-?[0-9]+(,-?[0-9]+,-?[0-9]+)*"
        				}
      -->
    </attribute>
  </define>
  <define name="area.attrs.shape.default">
    <attribute name="shape">
      <value type="string">default</value>
    </attribute>
  </define>
  <define name="area.inner">
    <empty/>
  </define>
  <define name="common.elem.phrasing" combine="choice">
    <ref name="area.elem"/>
  </define>
</grammar>
